<!DOCTYPE HTML>

{% load static %}

<html>
	<head>
		<title>FitCycle</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt" >
				 <a href=""> <h2 style="color:#FFFFFF">&nbsp; &nbsp; FitCycle</h2></a>

<nav id="nav">
		<ul>
		  <li><a href="/">Home</a>
          <a href="/">How it works</a>
          <a href="/">Reviews</a></li>
		  <li>
<ul>
		    <li><a href="generic.html">Generic</a></li>
									<li><a href="contact.html">Contact</a></li>
									<li><a href="elements.html">Elements</a></li>
									<li>
										<a href="#">Submenu</a>
										<ul>
											<li><a href="#">Option One</a></li>
											<li><a href="#">Option Two</a></li>
											<li><a href="#">Option Three</a></li>
											<li><a href="#">Option Four</a></li>
										</ul>
									</li>
			</ul>
		  </li>
							<li></li>
	  </ul>
				  </nav>
				</header>

			<!-- Banner -->
		  <section id="banner">
		    <h2>Smart UniCycle!</h2>
		    <p>A great way to have fun and track your fitness!</p>
				  <ul class="actions">
				    <li><a href="signup/" class="button special">Sign up for beta</a></li>
				    <li></li>
				  </ul>
		  </section>

			<!-- Main -->
		  <section id="main" class="container">

					<section class="box special">
						<header class="major">
						  <h2>Introducing the first connected Unicycle<br />
						    for the next generation of hipsters</h2>
						  <p>Why use a fixie? Sure it's harder and more work to cycle, but a uni, is even better. 
                                                     <br />
							 You and your kids can have a wonderful family experience, and track your workout.</p>
						</header>
						<span class="image featured"><img src="{% static 'images/baby_sitting.jpeg' %}" alt="" /></span>
					</section>

					<section class="box special features">
						<div class="features-row">
							<section>
								<span class="icon major fa-heart accent2"></span>
								<h3>Fitness Tracker</h3>
								<p>Manage your progress acorss multiple workouts, and set up individualized goals and manage your family's overall fitness level</p>
							</section>
							<section>
								<span class="icon major fa-area-chart accent3"></span>
								<h3>Distance Monitor</h3>
								<p>Manage the distance cycled, including the altitude traversed.</p>
						  </section>
					  </div>
						<div class="features-row">
							<section>
								<span class="icon major fa-fire accent4"></span>
								<h3>Calorie Counter</h3>
								<p>Calories are not only measured, but we also put together the estimated food intake and type of food you and your family should maintain.</p>
							</section>
							<section>
								<span class="icon major fa-tachometer accent5"></span>
								<h3>Speed Monitor</h3>
								<p>With continuous speed monitoring, you'll know if you've been maintaining speed through out your workouts.</p>
						  </section>
					  </div>
					</section>

					<div class="row">
						<div class="6u 12u(narrower)"> </div>
						<div class="6u 12u(narrower)"> </div>
					</div>

				</section>

			<!-- CTA -->
		  <!-- Footer -->
		  <footer id="footer">
			<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						
		    </ul>
			  <ul class="copyright">
			    <li>&copy; All rights reserved.</li>
		    </ul>
		  </footer>

	</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollgress.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>
